<app-nav></app-nav>

<div class="userInfo">
    <div class="leftInfo">
        <div class="userDetails">
            <div class="userDetailsTitle">شهر</div>
            <input placeholder="برای مثال تهران" class="userDetailsValue">
            <div class="userDetailsTitle">شماره تلفن ثابت</div>
            <input placeholder="برای مثال ۰۲۱۱۲۳۴۵۶۷۸۹" class="userDetailsValue">
            <div class="userDetailsTitle">شماره کارت ۱۶ رقمی</div>
            <input placeholder="شماره سفارش خود را وارد نمایید" class="userDetailsValue">
            <!--</div>-->
            <!--<div class="centralizedPack">-->
            <div class="userDetailsTitle" id="LeftBottomDetail">تکرار رمز عبور جدید</div>
            <input class="userDetailsValue">
        </div>

    </div>
    <div class="middleInfo">
        <div class="userName">نام کاربر</div>
        <img src="/assets/images/1.jpg" class="userImage">
        <div class="userGenderTitle"> جنسیت</div>
        <div class="userGenderButton">
            <div class="femaleTitle">زن</div>
            <img src="/assets/images/female-32.ico" class="femaleLogo">
            <img src="/assets/images/male-32.ico" class="maleLogo">
            <div class="maleTitle">مرد</div>

        </div>
        <div id="middlePass">
            <div class="userDetailsTitle"> رمز عبور فعلی</div>
            <input class="userDetailsValue">
        </div>
    </div>
    <div class="rightInfo">
        <div class="userDetails">
            <div class="userDetailsTitle">نام و نام خانوادگی</div>
            <input placeholder="برای مثال محمد رجبی" class="userDetailsValue">
            <div class="userDetailsTitle">شماره تلفن همراه</div>
            <input placeholder="برای مثال ۰۹۲۱۱۲۳۴۵۶۷۸۹" class="userDetailsValue">
            <div class="userDetailsTitle">تاریخ تولد</div>
            <input placeholder="Date picker is here" class="userDetailsValue" type="date">
            <!--</div>-->
            <!--<div class="centralizedPack">-->
            <div class="userDetailsTitle" id="RightBottomDetail"> رمز عبور فعلی</div>
            <input class="userDetailsValue">
        </div>
    </div>
</div>

<div class="userSubmit">ثبت تغییرات</div>
<div class="addresses"> آدرس ها ▼</div>
<div class="singleAddress">
    <div class="l">
        <div class="editButton">&#x270E;</div>
        <div class="closeButton">&#10006;</div>
    </div>
    <div class="m">
        <div class="receiverMobile">
            <div class="receiverMobileTitle">شماره تلفن همراه:</div>
            <div class="receiverMobileNumber">شماره</div>
        </div>
        <div class="receiverPostalCode">
            <div class="receiverPostalCodeTitle">کد پستی :</div>
            <div class="receiverPostalCodeNumber">مقدار کد پستی</div>
        </div>

    </div>
    <div class="r">
        <div class="upRight">

            <div class="receiverPhone">
                <div class="receiverPhoneTitle">شماره تلفن ثابت:</div>
                <div class="receiverPhoneNumber">شماره</div>
            </div>
            <div class="receiverName">
                <div class="receiverNameTitle">تحویل گیرنده:</div>
                <div class="receiverNameName">نام</div>
            </div>
        </div>
        <div class="address">
            <div class="receiverAddressTitle">آدرس:</div>
            <div class="receiverAddressAddress">متن آدرس، متن آدرس</div>
        </div>

    </div>
    <div class="rr">O</div>
</div>
<div class="singleAddress">
    <div class="l">
        <div class="editButton">&#x270E;</div>
        <div class="closeButton">&#10006;</div>
    </div>
    <div class="m">
        <div class="receiverMobile">
            <div class="receiverMobileTitle">شماره تلفن همراه:</div>
            <div class="receiverMobileNumber">شماره</div>
        </div>
        <div class="receiverPostalCode">
            <div class="receiverPostalCodeTitle">کد پستی :</div>
            <div class="receiverPostalCodeNumber">مقدار کد پستی</div>
        </div>

    </div>
    <div class="r">
        <div class="upRight">

            <div class="receiverPhone">
                <div class="receiverPhoneTitle">شماره تلفن ثابت:</div>
                <div class="receiverPhoneNumber">شماره</div>
            </div>
            <div class="receiverName">
                <div class="receiverNameTitle">تحویل گیرنده:</div>
                <div class="receiverNameName">نام</div>
            </div>
        </div>
        <div class="address">
            <div class="receiverAddressTitle">آدرس:</div>
            <div class="receiverAddressAddress">متن آدرس، متن آدرس</div>
        </div>

    </div>
    <div class="rr">O</div>
</div>
<div  class="addAddress">اضافه کردن آدرس جدید</div>
<div class="addresses"> سفارشات ▼</div>
<table class="orders">
    <tr>
        <th>جزئیات</th>
        <th>عملیات</th>
        <th>وضعیت</th>
        <th>مبلغ کل</th>
        <th>تاریخ و ساعت</th>
        <th>کد</th>
        <th>ردیف</th>
    </tr>
    <tr>
        <td>▼</td>
        <td><div class="orderAction">پرداخت</div></td>
        <td class="orderStatus">تحویل شده</td>
        <td>۱۹۹۰۰۰ تومان</td>
        <td> ۹۷/۲/۳ ۰۰:۰۰</td>
        <td>۱۲۳۴۵۶</td>
        <td>۱</td>
    </tr>
    <tr>
        <td>▼</td>
        <td><div class="orderAction">پرداخت</div></td>
        <td class="orderStatus">تحویل شده</td>
        <td>۱۹۹۰۰۰ تومان</td>
        <td>۹۷/۲/۳ ۰۰:۰۰ </td>
        <td>۱۲۳۴۵۶</td>
        <td>۱</td>
    </tr>

    <tr>
        <td>▼</td>
        <td><div class="orderAction">پرداخت</div></td>
        <td class="orderStatus">تحویل شده</td>
        <td>۱۹۹۰۰۰ تومان</td>
        <td>۹۷/۲/۳ ۰۰:۰۰ </td>
        <td>۱۲۳۴۵۶</td>
        <td>۱</td>
    </tr>
    <tr>
        <td>▼</td>
        <td><div class="orderAction">پرداخت</div></td>
        <td class="orderStatus">تحویل شده</td>
        <td>۱۹۹۰۰۰ تومان</td>
        <td>۹۷/۲/۳ ۰۰:۰۰ </td>
        <td>۱۲۳۴۵۶</td>
        <td>۱</td>
    </tr>
    <tr>
        <td>▼</td>
        <td><div class="orderAction">پرداخت</div></td>
        <td class="orderStatus">تحویل شده</td>
        <td>۱۹۹۰۰۰ تومان</td>
        <td>۹۷/۲/۳ ۰۰:۰۰ </td>
        <td>۱۲۳۴۵۶</td>
        <td>۱</td>
    </tr>

</table>
<app-foot></app-foot>