<div class="up">
    <div class="search">
        <!--<div class="icon">-->
        <!--<img class="image" src="style/images/Vector_search_icon.svg.png">-->
        <!--</div>-->
        <input class="bar"/>
    </div>
    <div class="clothster">
        <div class="title">
            <h1>Clothster</h1>
        </div>
    </div>
    <div class="loginButtons">
        <div class="register">
            <button>عضویت</button>
        </div>

        <div class="login">
            <button>ورود</button>
        </div>
    </div>
    <!--<div style="background-color: red; ">سلاک</div>-->

    <div class="category">
        <div class="items">
        <div>
        <a href="">
        مردانه
        </a>
        </div>
        <div>
        <a href="">
        زنانه
        </a>
        </div>
        <div>
        <a href="">
        بچگانه
        </a>
        </div>
        <div>
        <a href="">
        ورزشی
        </a>
        </div>
        <div>
        <a href="">
        تخفیف
        </a>
        </div>
        <div>
        <a href="">
        برندها
        </a>
        </div>
        </div>
    </div>
</div>


